/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merienda:wght@700&display=swap');

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    background-color: #fbfbfb;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fbfbfb;
    box-shadow: 0px 4px 4px #cccccc;
}

nav {
    width: calc(100% - 9.5rem);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}


nav li a {
    padding: 1rem 2rem;
    color: inherit;
}

nav li a.current {
    background-color: #3f5d96;
    color: #ffffff;
}

nav li a:hover {
    color: #3f5d96;
}

nav li a.current:hover {
    background-color: #4d6ba1;
    color: #ffffff;
}

.logo {
    height:5rem;
    border-radius: 50%;
    margin: 0 1.5rem;
}

/* MAIN */
main {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 1.5rem;
}

article {
    padding: 120px 2rem 0 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

#inicio {
    align-items: center;
}

#contacto {
    padding-bottom: 300px;
    flex-wrap: wrap;
}

h1 {
    font-size: 48px;
    text-align: left;
    padding-bottom: 1em;
}

h2 {
    font-size: 32px;
    text-align: left;
    padding-bottom: 1em;
}

p {
    text-align: left;
    line-height: 1.5rem;
    padding-bottom: 1em;
}

.secundario {
    font-size: 0.9em;
    /* font-style: italic; */
    color: grey;
}

.content {
    padding-left: 2em;
}

.imagen-ppal {
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
}

.imagen-icon {
    width: 100%;
    max-width: 4em;
    border-radius: 50%;
}

.boton {
    display: flex;
    justify-content: start;
}

.boton a {
    background-color:#3f5d96;
    padding: 0.5em 1em;
    margin: 2rem auto;
    font-size: 20px;
    color: #fbfbfb;
    border-radius: 1.5em;
}

.boton a:hover {
    background-color: #4d6ba1;
}

.contacto {
    background-color: #7891c2;
    color: #0f0f0f;
    border-radius: 0.6rem;
    padding: 2rem 4rem;
    height: 80%;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 2rem 0;
    flex-wrap: wrap;
}

.social-icon {
    width: 60px;
    margin: 0 2em;
}

.social-icon:hover {
    transform: scale(110%);
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #3f5d96;
    font-size: 16px;
}

footer a {
    color: #fbfbfb;
}

footer a:hover {
    color: #0f0f0f;
}


@media (min-width: 768px) {    
    .imagen-ppal {
        min-width: 300px;
    }
    
    article {
        padding: 120px 2rem;
    }
    
    #inicio {
        justify-content: center;
        align-items: start;
    }
}


@media (max-width: 767px) {
    header {
        padding: 5px;
        height: 130px;
    }
    
    nav li {
        margin: 0.3rem;
    }
    
    nav li a {
        padding: 0.3rem 1rem;
    }
    
    h1 {
        font-size: 36px;
        text-align: center;
    }
    
    h2 {
        font-size: 26px;
        text-align: center;
    }
    
    .imagen-ppal {
        max-width: 250px;
    }

    .content {
        padding: 0.5em;
    }

    article {
        padding: 160px 0;
        flex-wrap: wrap;
    }

    #inicio {
        justify-content: center;
        align-items: center;
    }
}
